set_location IN_MUX_bfv_8_8_0_ 8 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_11_0_ 11 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_12_0_ 4 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_13_0_ 4 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_9_0_ 8 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_13_0_ 9 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_14_0_ 2 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_15_0_ 2 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_16_0_ 2 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_2_0_ 14 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_3_0_ 14 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_4_0_ 14 4 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 7 11 3 #SB_LUT4
set_location I_DUT.U_5.un3_0_THRU_LUT4_0 8 9 4 #SB_LUT4
set_location I_DUT.U_5.un1_m_0_THRU_LUT4_0 8 8 2 #SB_LUT4
set_location I_DUT.U_1.un3_go_0_N_2_THRU_LUT4_0 4 13 2 #SB_LUT4
set_location fpga_sck_fast_THRU_LUT4_0 5 8 2 #SB_LUT4
set_location fpga_sck_THRU_LUT4_0 5 7 2 #SB_LUT4
set_location fpga_mosi_THRU_LUT4_0 5 1 0 #SB_LUT4
set_location fpga_m_5_0_THRU_LUT4_0 8 9 0 #SB_LUT4
set_location fpga_m_4_2_THRU_LUT4_0 8 11 0 #SB_LUT4
set_location fpga_m_3_3_THRU_LUT4_0 8 11 3 #SB_LUT4
set_location fpga_m_3_1_THRU_LUT4_0 10 9 2 #SB_LUT4
set_location adc_sdo_3_THRU_LUT4_0 12 1 1 #SB_LUT4
set_location adc_sdo_2_THRU_LUT4_0 12 1 7 #SB_LUT4
set_location adc_sdo_1_THRU_LUT4_0 16 1 0 #SB_LUT4
set_location adc_sdo_0_THRU_LUT4_0 17 1 7 #SB_LUT4
set_location acq_trig_THRU_LUT4_0 9 20 7 #SB_LUT4
set_location acq_pretrig_THRU_LUT4_0 9 17 2 #SB_LUT4
set_location I_DUT.U_6.ncs_fram_1_0_THRU_LUT4_0 10 12 2 #SB_LUT4
set_location I_DUT.U_6.adc_clock_RNIALCJ_I_DUT.U_6.fram_clock_1_0_REP_LUT4_0 11 12 3 #SB_LUT4
set_location I_DUT.U_5.fpga_m_ret_4_THRU_LUT4_0 9 6 0 #SB_LUT4
set_location I_DUT.U_5.mux_un1_m_0_cry_2_c_inv_I_DUT.U_5.fpga_m_ret_11_REP_LUT4_0 8 11 6 #SB_LUT4
set_location I_DUT.U_5.mux_adc_clock11_i_0_o3_0_I_DUT.U_5.fpga_m_0_ret_4_REP_LUT4_0 13 10 4 #SB_LUT4
set_location I_DUT.U_3.q_int_RNI5U9M_I_DUT.U_3.q_int_REP_LUT4_0 9 11 0 #SB_LUT4
set_location I_DUT.U_13.sendAdd_un1_m_4_I_DUT.U_13.fpga_m_ret_1_REP_LUT4_0 12 5 4 #SB_LUT4
set_location I_DUT.U_13.MISO_OUT_er_THRU_LUT4_0 11 4 1 #SB_LUT4
set_location I_DUT.U_12.valuePreTrig_int_7_THRU_LUT4_0 1 14 7 #SB_LUT4
set_location I_DUT.U_12.valuePreTrig_int_6_THRU_LUT4_0 1 14 6 #SB_LUT4
set_location I_DUT.U_12.valuePreTrig_int_5_THRU_LUT4_0 1 14 5 #SB_LUT4
set_location I_DUT.U_12.valuePreTrig_int_4_THRU_LUT4_0 1 14 4 #SB_LUT4
set_location I_DUT.U_12.valuePreTrig_int_3_THRU_LUT4_0 1 14 3 #SB_LUT4
set_location I_DUT.U_12.valuePreTrig_int_2_THRU_LUT4_0 1 14 2 #SB_LUT4
set_location I_DUT.U_12.valuePreTrig_int_1_THRU_LUT4_0 1 14 1 #SB_LUT4
set_location I_DUT.U_12.valuePreTrig_int_0_THRU_LUT4_0 1 14 0 #SB_LUT4
set_location I_DUT.U_12.stmClk_old_rst_THRU_LUT4_0 12 12 4 #SB_LUT4
set_location I_DUT.U_12.stmClk_old_THRU_LUT4_0 11 13 0 #SB_LUT4
set_location I_DUT.U_1.trigg_set_m_i_0_o3_2_I_DUT.U_1.fpga_m_ret_3_REP_LUT4_0 2 12 3 #SB_LUT4
set_location I_DUT.U_1.Memory_9_THRU_LUT4_0 14 5 3 #SB_LUT4
set_location I_DUT.U_1.Memory_8_THRU_LUT4_0 15 3 1 #SB_LUT4
set_location I_DUT.U_1.Memory_7_THRU_LUT4_0 15 2 2 #SB_LUT4
set_location I_DUT.U_1.Memory_6_THRU_LUT4_0 15 3 4 #SB_LUT4
set_location I_DUT.U_1.Memory_5_THRU_LUT4_0 15 2 5 #SB_LUT4
set_location I_DUT.U_1.Memory_4_THRU_LUT4_0 14 1 2 #SB_LUT4
set_location I_DUT.U_1.Memory_3_THRU_LUT4_0 15 2 7 #SB_LUT4
set_location I_DUT.U_1.Memory_2_THRU_LUT4_0 14 1 3 #SB_LUT4
set_location I_DUT.U_1.Memory_18_THRU_LUT4_0 16 4 5 #SB_LUT4
set_location I_DUT.U_1.Memory_17_THRU_LUT4_0 16 4 2 #SB_LUT4
set_location I_DUT.U_1.Memory_16_THRU_LUT4_0 15 3 5 #SB_LUT4
set_location I_DUT.U_1.Memory_15_THRU_LUT4_0 15 3 0 #SB_LUT4
set_location I_DUT.U_1.Memory_14_THRU_LUT4_0 15 3 2 #SB_LUT4
set_location I_DUT.U_1.Memory_13_THRU_LUT4_0 15 3 7 #SB_LUT4
set_location I_DUT.U_1.Memory_12_THRU_LUT4_0 14 5 1 #SB_LUT4
set_location I_DUT.U_1.Memory_11_THRU_LUT4_0 14 5 5 #SB_LUT4
set_location I_DUT.U_1.Memory_10_THRU_LUT4_0 14 5 6 #SB_LUT4
set_location I_DUT.U_1.Memory_1_THRU_LUT4_0 13 2 7 #SB_LUT4
set_location I_DUT.U_1.Memory_0_THRU_LUT4_0 13 2 4 #SB_LUT4
set_location I6.Q_THRU_LUT4_0 12 18 4 #SB_LUT4
set_location o_sclk_meas_obufLegalizeSB_DFF 12 20 0 #SB_DFF
set_location o_sclk_meas_obufConstOneLUT4 12 20 0 #SB_LUT4
set_location o_meas_1mhz_obufLegalizeSB_DFF 16 20 2 #SB_DFF
set_location o_meas_1mhz_obufConstOneLUT4 16 20 2 #SB_LUT4
set_location o_fram_sdi_obuf_3LegalizeSB_DFF 21 1 0 #SB_DFF
set_location o_fram_sdi_obuf_3ConstOneLUT4 21 1 0 #SB_LUT4
set_location o_fram_sdi_obuf_2LegalizeSB_DFF 18 1 2 #SB_DFF
set_location o_fram_sdi_obuf_2ConstOneLUT4 18 1 2 #SB_LUT4
set_location o_fram_sdi_obuf_1LegalizeSB_DFF 18 1 1 #SB_DFF
set_location o_fram_sdi_obuf_1ConstOneLUT4 18 1 1 #SB_LUT4
set_location o_fram_sdi_obuf_0LegalizeSB_DFF 18 1 0 #SB_DFF
set_location o_fram_sdi_obuf_0ConstOneLUT4 18 1 0 #SB_LUT4
set_location o_fram_sclk_obuf_3LegalizeSB_DFF 18 20 3 #SB_DFF
set_location o_fram_sclk_obuf_3ConstOneLUT4 18 20 3 #SB_LUT4
set_location o_fram_sclk_obuf_2LegalizeSB_DFF 18 20 2 #SB_DFF
set_location o_fram_sclk_obuf_2ConstOneLUT4 18 20 2 #SB_LUT4
set_location o_fram_sclk_obuf_1LegalizeSB_DFF 18 20 1 #SB_DFF
set_location o_fram_sclk_obuf_1ConstOneLUT4 18 20 1 #SB_LUT4
set_location o_fram_sclk_obuf_0LegalizeSB_DFF 18 20 0 #SB_DFF
set_location o_fram_sclk_obuf_0ConstOneLUT4 18 20 0 #SB_LUT4
set_location o_fram_ncs_obuf_3LegalizeSB_DFF 8 1 1 #SB_DFF
set_location o_fram_ncs_obuf_3ConstOneLUT4 8 1 1 #SB_LUT4
set_location o_fram_ncs_obuf_2LegalizeSB_DFF 8 1 0 #SB_DFF
set_location o_fram_ncs_obuf_2ConstOneLUT4 8 1 0 #SB_LUT4
set_location o_fram_ncs_obuf_1LegalizeSB_DFF 7 1 3 #SB_DFF
set_location o_fram_ncs_obuf_1ConstOneLUT4 7 1 3 #SB_LUT4
set_location o_fram_ncs_obuf_0LegalizeSB_DFF 7 1 2 #SB_DFF
set_location o_fram_ncs_obuf_0ConstOneLUT4 7 1 2 #SB_LUT4
set_location o_adc_sclk_obufLegalizeSB_DFF 16 20 1 #SB_DFF
set_location o_adc_sclk_obufConstOneLUT4 16 20 1 #SB_LUT4
set_location o_adc_nsc_obufLegalizeSB_DFF 16 20 0 #SB_DFF
set_location o_adc_nsc_obufConstOneLUT4 16 20 0 #SB_LUT4
set_location io_fpga_miso_obuftLegalizeSB_DFF 7 1 1 #SB_DFF
set_location io_fpga_miso_obuftConstOneLUT4 7 1 1 #SB_LUT4
set_location io_fpga_miso_obuftAndLUT4 7 1 0 #SB_LUT4
set_location U_8.ODInstLegalizeSB_DFF 3 20 0 #SB_DFF
set_location U_8.ODInstConstOneLUT4 3 20 0 #SB_LUT4
set_location U_7.ODInstLegalizeSB_DFF 5 20 1 #SB_DFF
set_location U_7.ODInstConstOneLUT4 5 20 1 #SB_LUT4
set_location U_4.ODInstLegalizeSB_DFF 5 20 0 #SB_DFF
set_location U_4.ODInstConstOneLUT4 5 20 0 #SB_LUT4
set_location fpga_m_5[0] 8 9 0 #SB_DFFR
set_location I_DUT.U_4.fpga_m_ret_6 10 7 6 #SB_DFFS
set_location I_DUT.U_1.done_RNO_0 4 13 6 #SB_LUT4
set_location I_DUT.U_1.count_preTrig[7] 2 14 7 #SB_DFFER
set_location I_DUT.U_1.count_memory_cry_c[13] 14 3 5 #SB_CARRY
set_location I_DUT.U_6.is_up_RNO 7 12 4 #SB_LUT4
set_location I_DUT.U_12.valuePreTrig_int[5] 1 14 5 #SB_DFFES
set_location I_DUT.U_1.count_preTrig_cry_c[11] 2 15 3 #SB_CARRY
set_location I_DUT.U_13.count_memory_RNO[10] 15 5 5 #SB_LUT4
set_location I_DUT.U_4.fpga_m_ret_4_RNO 8 9 1 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[12] 14 3 4 #SB_LUT4
set_location I_DUT.U_1.Memory[7] 15 2 2 #SB_DFFER
set_location I_DUT.U_5.fpga_m_0_ret_9 10 9 4 #SB_DFFS
set_location I_DUT.U_5.FR_NCS_1[0] 7 8 4 #SB_LUT4
set_location I_DUT.U_1.count_preTrig[16] 2 16 0 #SB_DFFER
set_location I_DUT.U_1.count_memory[11] 14 3 3 #SB_DFFER
set_location I_DUT.U_5.fpga_m_ret_6_RNO 10 8 0 #SB_LUT4
set_location I_DUT.U_13.fpga_m_ret_2 8 9 3 #SB_DFFR
set_location I_DUT.U_1.count_memory[1] 14 2 1 #SB_DFFER
set_location I_DUT.U_6.count[4] 9 13 4 #SB_DFFER
set_location I_DUT.U_5.fpga_m_ret_4_RNIQT5I2 9 9 4 #SB_LUT4
set_location I_DUT.U_5.fpga_m_ret_12_RNO 9 11 4 #SB_LUT4
set_location I_DUT.U_1.done_wait[3] 7 9 7 #SB_DFFR
set_location I_DUT.U_1.done_Counter.un3_go_0_I_27_c 4 12 4 #SB_CARRY
set_location I_DUT.U_1.count_preTrig_RNO[1] 2 14 1 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[2] 14 2 2 #SB_LUT4
set_location I_DUT.U_6.count_RNISQ8F[0] 9 12 2 #SB_LUT4
set_location I_DUT.U_5.fpga_m_0_ret_4 13 10 4 #SB_DFFS
set_location I_DUT.U_2.count_RNO[1] 11 11 1 #SB_LUT4
set_location I_DUT.U_13.count_memory[5] 15 1 2 #SB_DFFER
set_location I_DUT.U_1.count_preTrig_RNO[13] 2 15 5 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[18] 14 4 2 #SB_LUT4
set_location acq_pretrig 9 17 2 #SB_DFFR
set_location I_DUT.U_6.count_RNO[0] 9 13 0 #SB_LUT4
set_location I_DUT.U_5.mux.un1_m_0_cry_2_c_inv 8 13 5 #SB_LUT4
set_location I_DUT.U_1.count_preTrig_cry_c[4] 2 14 4 #SB_CARRY
set_location I_DUT.U_1.count_preTrig[0] 2 14 0 #SB_DFFER
set_location I_DUT.U_1.count_memory_cry_c[10] 14 3 2 #SB_CARRY
set_location I_DUT.U_5.mux.un3_0_cry_0_c 8 9 0 #SB_CARRY
set_location I_DUT.U_1.count_preTrig_cry_c[12] 2 15 4 #SB_CARRY
set_location I_DUT.U_13.count_memory[18] 17 4 5 #SB_DFFES
set_location adc_sdo[1] 16 1 0 #SB_DFFR
set_location I_DUT.U_13.count_memory_RNO[6] 15 4 0 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_57_c_RNO 2 13 2 #SB_LUT4
set_location I_DUT.U_1.Memory[4] 14 1 2 #SB_DFFER
set_location fpga_m_4[2] 8 11 0 #SB_DFFR
set_location I_DUT.U_5.fpga_m_ret_6 10 8 0 #SB_DFFR
set_location I_DUT.U_5.fpga_m_ret_5_RNIN2E3 11 3 3 #SB_LUT4
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_4 1 12 0 #SB_LUT4
set_location I_DUT.U_1.count_preTrig_cry_c[9] 2 15 1 #SB_CARRY
set_location I_DUT.U_1.count_preTrig[11] 2 15 3 #SB_DFFER
set_location I_DUT.U_1.count_memory_cry_c[0] 14 2 0 #SB_CARRY
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_16 1 13 0 #SB_LUT4
set_location I_DUT.U_1.count_memory[6] 14 2 6 #SB_DFFER
set_location fpga_mosi 5 1 0 #SB_DFFR
set_location I_DUT.U_3.q_int 9 11 0 #SB_DFFR
set_location I_DUT.U_13.count_memory[12] 15 5 6 #SB_DFFER
set_location I_DUT.U_1.fpga_m_ret_3_RNI672E 9 18 4 #SB_LUT4
set_location I_DUT.U_1.done_wait_RNO[2] 7 9 6 #SB_LUT4
set_location I_DUT.U_6.count_go 10 14 1 #SB_DFFR
set_location I_DUT.U_2.count_cry_c[0] 11 11 0 #SB_CARRY
set_location I_DUT.U_13.count_memory[8] 15 4 2 #SB_DFFER
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_9 2 13 1 #SB_LUT4
set_location I_DUT.U_1.count_preTrig_RNO[16] 2 16 0 #SB_LUT4
set_location I_DUT.U_6.count_RNO[3] 9 13 3 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_1_c 4 12 0 #SB_CARRY
set_location I_DUT.U_1.count_preTrig_cry_c[3] 2 14 3 #SB_CARRY
set_location I_DUT.U_1.count_memory_cry_c[15] 14 3 7 #SB_CARRY
set_location I_DUT.U_1.count_memory[16] 14 4 0 #SB_DFFER
set_location I_DUT.U_1.Memory[13] 15 3 7 #SB_DFFER
set_location I_DUT.U_6.fram_clock_1[0] 11 12 3 #SB_DFFES
set_location I_DUT.U_5.fpga_m_ret_7_RNO 9 4 4 #SB_LUT4
set_location I_DUT.U_4.fpga_m_2_ret_RNIIIGK 11 2 4 #SB_LUT4
set_location I_DUT.U_4.fpga_m_0_ret_5 8 9 2 #SB_DFFR
set_location adc_sdo[2] 12 1 7 #SB_DFFR
set_location I_DUT.U_13.count_memory_RNO[5] 15 1 2 #SB_LUT4
set_location I_DUT.U_12.stmClk_old_rst 12 12 4 #SB_DFFR
set_location I_DUT.U_1.count_preTrig_RNO[8] 2 15 0 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[5] 14 2 5 #SB_LUT4
set_location I_DUT.U_1.Memory[1] 13 2 7 #SB_DFFER
set_location I_DUT.U_5.fpga_m_ret_8_RNI1CV5_0 8 6 1 #SB_LUT4
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_7 3 12 5 #SB_LUT4
set_location I_DUT.U_1.count_preTrig_RNO[18] 2 16 2 #SB_LUT4
set_location I_DUT.U_1.count_memory_cry_c[3] 14 2 3 #SB_CARRY
set_location I_DUT.U_5.fpga_m_ret_4_RNIQU68 12 3 6 #SB_LUT4
set_location I_DUT.U_12.stmClk_old_rst_RNO 12 13 4 #SB_LUT4
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_13 2 13 5 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_57_c_RNIDACS 12 20 3 #SB_LUT4
set_location I_DUT.U_6.is_up_RNO_1 9 12 6 #SB_LUT4
set_location I_DUT.U_12.valuePreTrig_int[1] 1 14 1 #SB_DFFER
set_location I_DUT.U_1.count_preTrig_cry_c[15] 2 15 7 #SB_CARRY
set_location I_DUT.U_13.count_memory_RNO[14] 16 3 1 #SB_LUT4
set_location I_DUT.U_4.fpga_m_ret_6_RNIHEOG 8 10 4 #SB_LUT4
set_location I_DUT.U_13.count_memory[17] 17 4 3 #SB_DFFER
set_location I_DUT.U_1.done_wait_RNO[1] 7 9 4 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[8] 14 3 0 #SB_LUT4
set_location I_DUT.U_13.MISO_OUT_er_RNO 11 6 5 #SB_LUT4
set_location I_DUT.U_1.count_preTrig_RNO[15] 2 15 7 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[16] 14 4 0 #SB_LUT4
set_location I_DUT.U_6.count_RNIQLUF2[0] 9 12 0 #SB_LUT4
set_location I_DUT.U_1.done 5 13 0 #SB_DFFER
set_location I_DUT.U_1.count_memory[15] 14 3 7 #SB_DFFER
set_location I_DUT.U_1.Memory[16] 15 3 5 #SB_DFFER
set_location fpga_sck 5 7 2 #SB_DFFR
set_location I_DUT.U_6.count_cry_c[0] 9 13 0 #SB_CARRY
set_location I_DUT.U_6.is_up_RNIMNRI 8 12 1 #SB_LUT4
set_location I_DUT.U_6.count[0] 9 13 0 #SB_DFFER
set_location I_DUT.U_2.count_RNI1V99[4] 10 11 2 #SB_LUT4
set_location I_DUT.U_2.count[0] 10 10 2 #SB_DFFR
set_location I_DUT.U_1.fpga_m_ret_3 2 12 3 #SB_DFFS
set_location I_DUT.U_6.count_go_RNO_1 10 13 1 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_21_c_RNO 1 12 4 #SB_LUT4
set_location I_DUT.U_13.count_memory_RNO[0] 13 1 5 #SB_LUT4
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3 1 12 5 #SB_LUT4
set_location I_DUT.U_1.count_preTrig_RNO[5] 2 14 5 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[6] 14 2 6 #SB_LUT4
set_location I_DUT.U_4.fpga_m_1_ret 12 1 6 #SB_DFFS
set_location I_DUT.U_13.count_memory[1] 13 1 7 #SB_DFFER
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_2 1 13 1 #SB_LUT4
set_location I_DUT.U_1.count_memory_cry_c[6] 14 2 6 #SB_CARRY
set_location I_DUT.U_5.fpga_m_0_ret_4_RNIJRRD 13 12 3 #SB_LUT4
set_location I_DUT.U_4.fpga_m_ret_7 8 14 6 #SB_DFFR
set_location I_DUT.U_4.fpga_m_ret_6_RNIM2D7 11 7 3 #SB_LUT4
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_10 2 13 3 #SB_LUT4
set_location I_DUT.U_1.count_preTrig[4] 2 14 4 #SB_DFFER
set_location I_DUT.U_1.count_memory[8] 14 3 0 #SB_DFFER
set_location I_DUT.U_1.Memory[18] 16 4 5 #SB_DFFER
set_location I_DUT.U_5.fpga_m_ret_10 10 9 3 #SB_DFFS
set_location I_DUT.U_12.valuePreTrig_int[4] 1 14 4 #SB_DFFES
set_location I_DUT.U_1.count_preTrig_cry_c[16] 2 16 0 #SB_CARRY
set_location I_DUT.U_13.count_memory_RNO[11] 15 5 0 #SB_LUT4
set_location I_DUT.U_4.fpga_m_ret 20 1 4 #SB_DFFS
set_location I_DUT.U_13.count_memory[14] 16 3 1 #SB_DFFER
set_location I_DUT.U_1.count_memory_RNO[11] 14 3 3 #SB_LUT4
set_location I_DUT.U_1.Memory[8] 15 3 1 #SB_DFFER
set_location I_DUT.U_5.FR_NCS_1[1] 9 8 4 #SB_LUT4
set_location I_DUT.U_1.count_preTrig[15] 2 15 7 #SB_DFFER
set_location I_DUT.U_1.count_memory[10] 14 3 2 #SB_DFFER
set_location I_DUT.U_1.Memory[15] 15 3 0 #SB_DFFER
set_location I6.Q_RNO 12 19 0 #SB_LUT4
set_location I_DUT.U_4.fpga_m_ret_9 8 11 1 #SB_DFFR
set_location I_DUT.U_13.fpga_m_ret_3 13 3 5 #SB_DFFS
set_location I_DUT.U_1.count_memory[2] 14 2 2 #SB_DFFER
set_location fpga_m_3[1] 10 9 2 #SB_DFFR
set_location I_DUT.U_1.done_wait[2] 7 9 6 #SB_DFFR
set_location I_DUT.U_1.count_preTrig_RNO[2] 2 14 2 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[3] 14 2 3 #SB_LUT4
set_location I_DUT.U_4.fpga_m_ret_5_RNI0PRE1 7 11 4 #SB_LUT4
set_location I_DUT.U_2.count_RNO[0] 10 10 2 #SB_LUT4
set_location I_DUT.U_13.count_memory[4] 15 1 6 #SB_DFFER
set_location I_DUT.U_1.done_RNILDRF_0 7 11 6 #SB_LUT4
set_location I_DUT.U_1.count_preTrig_RNO[12] 2 15 4 #SB_LUT4
set_location I_DUT.U_1.count_memory_cry_c[9] 14 3 1 #SB_CARRY
set_location I_DUT.U_6.down_ncs_old_RNISL8H1 9 12 4 #SB_LUT4
set_location I_DUT.U_6.down_ncs_old_RNIATBM 8 12 7 #SB_LUT4
set_location I_DUT.U_4.fpga_m_ret_4 8 9 1 #SB_DFFS
set_location I_DUT.U_1.count_preTrig_cry_c[7] 2 14 7 #SB_CARRY
set_location I_DUT.U_1.count_preTrig[1] 2 14 1 #SB_DFFER
set_location I_DUT.U_1.count_memory_cry_c[11] 14 3 3 #SB_CARRY
set_location I_DUT.U_12.valuePreTrig_int[7] 1 14 7 #SB_DFFES
set_location I_DUT.U_1.count_preTrig_cry_c[13] 2 15 5 #SB_CARRY
set_location I_DUT.U_4.fpga_m_ret_7_RNI2OTC1 8 13 2 #SB_LUT4
set_location I_DUT.U_13.count_memory_RNO[12] 15 5 6 #SB_LUT4
set_location I_DUT.U_1.fpga_m_ret_4 9 11 7 #SB_DFFR
set_location I_DUT.U_6.ncs_adc 10 12 7 #SB_DFFES
set_location I_DUT.U_6.down_ncs_old_RNO 7 12 7 #SB_LUT4
set_location I_DUT.U_13.count_memory_RNO[9] 15 5 1 #SB_LUT4
set_location I_DUT.U_1.Memory[5] 15 2 5 #SB_DFFER
set_location I_DUT.U_6.ncs_fram_1[0] 10 12 2 #SB_DFFER
set_location I_DUT.U_5.fpga_m_ret_5 8 7 7 #SB_DFFR
set_location I_DUT.U_5.fpga_m_0_ret_4_RNICU2F 12 4 1 #SB_LUT4
set_location I_DUT.U_1.count_preTrig_cry_c[8] 2 15 0 #SB_CARRY
set_location I_DUT.U_1.count_preTrig[10] 2 15 2 #SB_DFFER
set_location I_DUT.U_5.mux.un1_m_0_cry_3_c_inv 8 8 1 #SB_LUT4
set_location I_DUT.U_1.count_memory[7] 14 2 7 #SB_DFFER
set_location I_DUT.U_6.fram_clock_1_RNO[0] 9 12 3 #SB_LUT4
set_location I_DUT.U_6.is_up_RNI0L791 8 12 0 #SB_LUT4
set_location I_DUT.U_4.fpga_m_ret_4_RNIVNTC1 8 10 5 #SB_LUT4
set_location I_DUT.U_13.count_memory_RNO[18] 17 4 5 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_15_c_RNO 2 12 0 #SB_LUT4
set_location acq_trig 9 20 7 #SB_DFFR
set_location I_DUT.U_5.mux.adc_clock11_i_0_o3_0 9 5 4 #SB_LUT4
set_location I_DUT.U_13.count_memory[13] 16 3 2 #SB_DFFER
set_location I_DUT.U_1.done_Counter.un3_go_0_I_51_c 4 13 0 #SB_CARRY
set_location I_DUT.U_6.count[1] 9 13 1 #SB_DFFER
set_location I_DUT.U_5.fpga_m_ret_4_RNINR68 12 4 5 #SB_LUT4
set_location I_DUT.U_4.fpga_m_ret_9_RNI797L1 8 10 1 #SB_LUT4
set_location I_DUT.U_2.count_cry_c[1] 11 11 1 #SB_CARRY
set_location I_DUT.U_2.count_RNO[3] 11 11 3 #SB_LUT4
set_location I_DUT.U_2.count[1] 11 11 1 #SB_DFFR
set_location I_DUT.U_13.count_memory[7] 15 4 7 #SB_DFFER
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_8 1 13 4 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_9_c 4 12 1 #SB_CARRY
set_location I_DUT.U_1.count_preTrig_RNO[11] 2 15 3 #SB_LUT4
set_location I_DUT.U_6.count_go_RNO_0 10 13 3 #SB_LUT4
set_location I_DUT.U_6.count_RNO[2] 9 13 2 #SB_LUT4
set_location I_DUT.U_12.stmClk_old 11 13 0 #SB_DFFS
set_location I_DUT.U_1.done_wait[0] 7 10 7 #SB_DFFR
set_location I_DUT.U_1.count_preTrig_cry_c[2] 2 14 2 #SB_CARRY
set_location I_DUT.U_1.count_preTrig[2] 2 14 2 #SB_DFFER
set_location I_DUT.U_1.count_memory_cry_c[16] 14 4 0 #SB_CARRY
set_location I_DUT.U_1.Memory[12] 14 5 1 #SB_DFFER
set_location I_DUT.U_5.fpga_m_ret_4_RNIOS68 12 2 6 #SB_LUT4
set_location I_DUT.U_13.count_memory_RNO[1] 13 1 7 #SB_LUT4
set_location I_DUT.U_1.done_RNO 5 13 0 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_33_c_RNO 1 12 6 #SB_LUT4
set_location I_DUT.U_1.count_preTrig_RNO[4] 2 14 4 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[1] 14 2 1 #SB_LUT4
set_location I_DUT.U_0.colckSwitch.un3_ac0_5 9 9 2 #SB_LUT4
set_location I_DUT.U_6.down_ncs 9 11 5 #SB_DFFS
set_location I_DUT.U_5.fpga_m_ret_4_RNIPT68 12 2 2 #SB_LUT4
set_location I_DUT.U_4.fpga_m_ret_RNI15M5 18 1 3 #SB_LUT4
set_location I_DUT.U_2.count[4] 11 11 4 #SB_DFFR
set_location I_DUT.U_13.count_memory[2] 15 1 3 #SB_DFFER
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_3 1 12 3 #SB_LUT4
set_location I_DUT.U_1.count_memory_cry_c[7] 14 2 7 #SB_CARRY
set_location adc_sdo[3] 12 1 1 #SB_DFFR
set_location I_DUT.U_13.count_memory_RNO[4] 15 1 6 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_45_c 4 12 7 #SB_CARRY
set_location I_DUT.U_1.count_preTrig_RNO[9] 2 15 1 #SB_LUT4
set_location I_DUT.U_1.Memory[2] 14 1 3 #SB_DFFER
set_location I_DUT.U_6.count_go_RNO 10 14 1 #SB_LUT4
set_location I_DUT.U_5.fpga_m_ret_8 9 6 3 #SB_DFFS
set_location I_DUT.U_5.fpga_m_0_ret_4_RNIE03F 12 3 7 #SB_LUT4
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_6 1 12 1 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_1_c_RNO 1 13 5 #SB_LUT4
set_location I_DUT.U_1.count_preTrig[13] 2 15 5 #SB_DFFER
set_location I_DUT.U_1.count_memory_cry_c[2] 14 2 2 #SB_CARRY
set_location I_DUT.U_6.is_up 7 12 4 #SB_DFFS
set_location I_DUT.U_5.fpga_m_ret_5_RNIL0E3 12 2 5 #SB_LUT4
set_location I_DUT.U_5.fpga_m_0_ret_4_RNIDV2F 12 3 2 #SB_LUT4
set_location I_DUT.U_4.fpga_m_ret_3 9 4 2 #SB_DFFS
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_14 2 13 6 #SB_LUT4
set_location I_DUT.U_1.count_memory[4] 14 2 4 #SB_DFFER
set_location I_DUT.U_12.valuePreTrig_int[0] 1 14 0 #SB_DFFER
set_location I_DUT.U_5.mux.un3_0_cry_3_c 8 9 3 #SB_CARRY
set_location I_DUT.U_4.fpga_m_ret_3_RNO 9 4 2 #SB_LUT4
set_location I_DUT.U_13.count_memory_RNO[15] 16 3 0 #SB_LUT4
set_location I_DUT.U_13.count_memory[10] 15 5 5 #SB_DFFER
set_location I_DUT.U_1.done_wait_RNO[0] 7 10 7 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[9] 14 3 1 #SB_LUT4
set_location I_DUT.U_4.fpga_m_ret_6_RNI289J1 8 10 0 #SB_LUT4
set_location I_DUT.U_2.count_cry_c[2] 11 11 2 #SB_CARRY
set_location I_DUT.U_1.done_Counter.un3_go_0_I_9_c_RNO 3 12 6 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_15_c 4 12 2 #SB_CARRY
set_location I_DUT.U_1.count_preTrig_RNO[14] 2 15 6 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[15] 14 3 7 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_33_c 4 12 5 #SB_CARRY
set_location I_DUT.U_1.count_preTrig_cry_c[1] 2 14 1 #SB_CARRY
set_location I_DUT.U_1.count_memory[14] 14 3 6 #SB_DFFER
set_location I_DUT.U_1.Memory[11] 14 5 5 #SB_DFFER
set_location I_DUT.U_6.count_cry_c[1] 9 13 1 #SB_CARRY
set_location I_DUT.U_4.fpga_m_ret_6_RNO 10 7 6 #SB_LUT4
set_location I_DUT.U_6.count[3] 9 13 3 #SB_DFFER
set_location I_DUT.U_2.count[3] 11 11 3 #SB_DFFR
set_location I_DUT.U_1.done_Counter.un3_go_0_I_39_c 4 12 6 #SB_CARRY
set_location I_DUT.U_4.fpga_m_2_ret 10 2 2 #SB_DFFS
set_location I_DUT.U_13.count_memory_RNO[3] 15 1 0 #SB_LUT4
set_location I_DUT.U_1.count_preTrig_RNO[6] 2 14 6 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[7] 14 2 7 #SB_LUT4
set_location I_DUT.U_2.count_RNO[4] 11 11 4 #SB_LUT4
set_location I_DUT.U_13.count_memory[0] 13 1 5 #SB_DFFES
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_1 2 13 0 #SB_LUT4
set_location I_DUT.U_1.count_memory_cry_c[5] 14 2 5 #SB_CARRY
set_location I_DUT.U_5.fpga_m_ret_8_RNO 9 6 3 #SB_LUT4
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_11 3 13 4 #SB_LUT4
set_location I_DUT.U_1.count_preTrig[5] 2 14 5 #SB_DFFER
set_location I_DUT.U_1.count_memory[9] 14 3 1 #SB_DFFER
set_location I_DUT.U_5.fpga_m_ret_11 8 11 6 #SB_DFFS
set_location I_DUT.U_4.fpga_m_ret_5_RNO 7 12 2 #SB_LUT4
set_location I_DUT.U_12.valuePreTrig_int[3] 1 14 3 #SB_DFFER
set_location I_DUT.U_1.count_preTrig_cry_c[17] 2 16 1 #SB_CARRY
set_location I_DUT.U_13.count_memory_RNO[16] 17 3 0 #SB_LUT4
set_location I_DUT.U_6.down_ncs_old 7 12 7 #SB_DFFS
set_location I_DUT.U_6.down_ncs_RNO 9 11 5 #SB_LUT4
set_location I_DUT.U_4.fpga_m_0_ret_5_RNIL4GL1 9 9 0 #SB_LUT4
set_location I_DUT.U_13.count_memory[15] 16 3 0 #SB_DFFER
set_location I_DUT.U_5.fpga_m_ret_5_RNI22EC 11 10 5 #SB_LUT4
set_location I_DUT.U_3.q_int_RNI5U9M 10 11 3 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[10] 14 3 2 #SB_LUT4
set_location I_DUT.U_1.Memory[9] 14 5 3 #SB_DFFER
set_location I_DUT.U_5.FR_NCS_1[2] 7 11 5 #SB_LUT4
set_location I_DUT.U_1.count_preTrig[8] 2 15 0 #SB_DFFER
set_location I_DUT.U_1.count_preTrig[14] 2 15 6 #SB_DFFER
set_location I_DUT.U_1.count_memory[13] 14 3 5 #SB_DFFER
set_location I_DUT.U_1.Memory[14] 15 3 2 #SB_DFFER
set_location I_DUT.U_6.count_cry_c[2] 9 13 2 #SB_CARRY
set_location I_DUT.U_1.count_memory[3] 14 2 3 #SB_DFFER
set_location I_DUT.U_5.fpga_m_ret_8_RNO_0 9 5 5 #SB_LUT4
set_location I_DUT.U_5.fpga_m_ret_10_RNO 10 9 3 #SB_LUT4
set_location I_DUT.U_6.is_up_RNI3ODA1 8 12 5 #SB_LUT4
set_location I_DUT.U_6.adc_clock_RNO_0 9 14 0 #SB_LUT4
set_location I_DUT.U_13.fpga_m_ret_2_RNO 8 9 3 #SB_LUT4
set_location I_DUT.U_1.done_wait[1] 7 9 4 #SB_DFFR
set_location I_DUT.U_1.done_Counter.un3_go_0_I_45_c_RNO 3 12 0 #SB_LUT4
set_location I_DUT.U_1.count_preTrig_RNO[3] 2 14 3 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[0] 14 2 0 #SB_LUT4
set_location I_DUT.U_6.adc_clock_RNIALCJ 9 14 4 #SB_LUT4
set_location I_DUT.U_5.fpga_m_ret_5_RNO 8 7 7 #SB_LUT4
set_location I_DUT.U_13.count_memory[3] 15 1 0 #SB_DFFER
set_location I_DUT.U_1.count_memory_cry_c[8] 14 3 0 #SB_CARRY
set_location I6.Q 12 18 4 #SB_DFFR
set_location I_DUT.U_4.fpga_m_ret_5 7 12 2 #SB_DFFR
set_location I_DUT.U_13.fpga_m_ret_1_RNIBAUJ 12 6 0 #SB_LUT4
set_location I_DUT.U_1.count_preTrig_cry_c[6] 2 14 6 #SB_CARRY
set_location I_DUT.U_1.count_preTrig[6] 2 14 6 #SB_DFFER
set_location I_DUT.U_1.count_memory_cry_c[12] 14 3 4 #SB_CARRY
set_location I_DUT.U_12.valuePreTrig_int[6] 1 14 6 #SB_DFFES
set_location I_DUT.U_1.count_preTrig_cry_c[10] 2 15 2 #SB_CARRY
set_location I6.Q_RNIUSS1 12 19 1 #SB_LUT4
set_location I_DUT.U_6.finish_d 9 11 1 #SB_DFFR
set_location I_DUT.U_4.fpga_m_ret_7_RNO 8 14 6 #SB_LUT4
set_location I_DUT.U_13.count_memory_RNO[13] 16 3 2 #SB_LUT4
set_location I_DUT.U_1.fpga_m_ret_4_RNO 9 11 7 #SB_LUT4
set_location I_DUT.U_5.mux.un3_0_cry_1_c 8 9 1 #SB_CARRY
set_location I_DUT.U_4.fpga_m_ret_6_RNIVMVA1 8 10 2 #SB_LUT4
set_location I_DUT.U_4.fpga_m_1_ret_RNO 12 1 6 #SB_LUT4
set_location I_DUT.U_12.stmClk_old_rst_RNIFHFV 10 13 5 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_57_c_RNIDACS_0 3 12 7 #SB_LUT4
set_location I_DUT.U_5.fpga_m_ret_5_RNIKVD3 12 4 4 #SB_LUT4
set_location I_DUT.U_4.fpga_m_ret_9_RNO 8 11 1 #SB_LUT4
set_location I_DUT.U_13.count_memory_RNO[8] 15 4 2 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[13] 14 3 5 #SB_LUT4
set_location I_DUT.U_1.Memory[6] 15 3 4 #SB_DFFER
set_location I_DUT.U_5.fpga_m_ret_4 9 6 0 #SB_DFFS
set_location I_DUT.U_1.count_preTrig[17] 2 16 1 #SB_DFFER
set_location I_DUT.U_13.fpga_m_ret_1 12 5 4 #SB_DFFR
set_location I_DUT.U_1.count_memory[0] 14 2 0 #SB_DFFER
set_location I_DUT.U_6.finish_d_RNIOKU44 9 12 1 #SB_LUT4
set_location I_DUT.U_5.fpga_m_ret_8_RNI1CV5 9 5 1 #SB_LUT4
set_location fpga_m_3[3] 8 11 3 #SB_DFFR
set_location I_DUT.U_4.fpga_m_2_ret_RNO 10 2 2 #SB_LUT4
set_location I_DUT.U_6.ncs_adc_RNO 10 12 7 #SB_LUT4
set_location I_DUT.U_6.count_go_RNIPCQ7 12 14 3 #SB_LUT4
set_location I_DUT.U_1.count_preTrig_RNO[0] 2 14 0 #SB_LUT4
set_location fpga_sck_fast 5 8 2 #SB_DFFR
set_location I_DUT.U_2.count_RNO[2] 11 11 2 #SB_LUT4
set_location I_DUT.U_13.count_memory[6] 15 4 0 #SB_DFFER
set_location I_DUT.U_1.count_preTrig_RNO[10] 2 15 2 #SB_LUT4
set_location I_DUT.U_6.count_RNO[1] 9 13 1 #SB_LUT4
set_location I_DUT.U_5.un1_adc_clock11_1_0_o3_1 10 4 0 #SB_LUT4
set_location I_DUT.U_5.fpga_m_ret_5_RNIM1E3 11 2 1 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_39_c_RNO 3 13 2 #SB_LUT4
set_location I_DUT.U_1.count_preTrig_cry_c[5] 2 14 5 #SB_CARRY
set_location I_DUT.U_1.count_preTrig[3] 2 14 3 #SB_DFFER
set_location I_DUT.U_1.count_memory_cry_c[17] 14 4 1 #SB_CARRY
set_location I_DUT.U_1.done_RNILDRF 7 20 3 #SB_LUT4
set_location I_DUT.U_5.fpga_m_ret_6_RNILBHL 9 8 2 #SB_LUT4
set_location I_DUT.U_5.fpga_m_0_ret_4_RNIBT2F 12 4 6 #SB_LUT4
set_location I_DUT.U_4.spiMS.un3_m 9 10 2 #SB_LUT4
set_location I_DUT.U_13.fpga_m_ret_3_RNO 13 3 5 #SB_LUT4
set_location adc_sdo[0] 17 1 7 #SB_DFFR
set_location I_DUT.U_13.count_memory_RNO[7] 15 4 7 #SB_LUT4
set_location I_DUT.U_1.Memory[3] 15 2 7 #SB_DFFER
set_location I_DUT.U_5.fpga_m_ret_8_RNI1CV5_2 8 6 5 #SB_LUT4
set_location I_DUT.U_5.fpga_m_ret_7 9 4 4 #SB_DFFS
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_5 1 13 6 #SB_LUT4
set_location I_DUT.U_1.count_preTrig[12] 2 15 4 #SB_DFFER
set_location I_DUT.U_1.count_memory_cry_c[1] 14 2 1 #SB_CARRY
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_15 3 13 7 #SB_LUT4
set_location I_DUT.U_1.done_wait_RNIHEQO[1] 7 8 7 #SB_LUT4
set_location I_DUT.U_1.count_memory[5] 14 2 5 #SB_DFFER
set_location I_DUT.U_5.fpga_m_ret_6_RNIPFPF2 9 9 3 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_27_c_RNO 3 13 1 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_21_c 4 12 3 #SB_CARRY
set_location I_DUT.U_4.fpga_m_1_ret_RNIHEAG 11 1 6 #SB_LUT4
set_location I_DUT.U_4.fpga_m_0_ret_5_RNO 8 9 2 #SB_LUT4
set_location I_DUT.U_13.count_memory[11] 15 5 0 #SB_DFFER
set_location I_DUT.U_1.done_wait_RNO[3] 7 9 7 #SB_LUT4
set_location I_DUT.U_6.adc_clock 8 15 6 #SB_DFFS
set_location I_DUT.U_2.count_cry_c[3] 11 11 3 #SB_CARRY
set_location I_DUT.U_13.count_memory[9] 15 5 1 #SB_DFFER
set_location I_DUT.U_1.count_preTrig_RNO[17] 2 16 1 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[14] 14 3 6 #SB_LUT4
set_location I_DUT.U_6.count_RNO[4] 9 13 4 #SB_LUT4
set_location I_DUT.U_6.count_RNI97TM[1] 9 12 5 #SB_LUT4
set_location I_DUT.U_5.fpga_m_0_ret_9_RNO 10 9 4 #SB_LUT4
set_location I_DUT.U_5.MISO_0_i 11 2 7 #SB_LUT4
set_location I_DUT.U_1.count_preTrig_cry_c[0] 2 14 0 #SB_CARRY
set_location I_DUT.U_1.count_preTrig[18] 2 16 2 #SB_DFFER
set_location I_DUT.U_1.count_memory_cry_c[14] 14 3 6 #SB_CARRY
set_location I_DUT.U_1.count_memory[17] 14 4 1 #SB_DFFER
set_location I_DUT.U_1.Memory[10] 14 5 6 #SB_DFFER
set_location I_DUT.U_6.count[2] 9 13 2 #SB_DFFER
set_location I_DUT.U_2.count[2] 11 11 2 #SB_DFFR
set_location I_DUT.U_1.trigg_set.m_i_0_o3_2 10 6 4 #SB_LUT4
set_location I_DUT.U_13.count_memory_RNO[2] 15 1 3 #SB_LUT4
set_location I_DUT.U_1.done_Counter.un3_go_0_I_57_c 4 13 1 #SB_CARRY
set_location I_DUT.U_1.count_preTrig_RNO[7] 2 14 7 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[4] 14 2 4 #SB_LUT4
set_location I_DUT.U_1.Memory[0] 13 2 4 #SB_DFFER
set_location I_DUT.U_5.mux.un1_m_0_cry_3_c 8 8 1 #SB_CARRY
set_location I_DUT.U_5.fpga_m_ret_8_RNI1CV5_1 9 5 0 #SB_LUT4
set_location I_DUT.U_12.stmClk_old_RNO 10 13 7 #SB_LUT4
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_0 3 13 0 #SB_LUT4
set_location I_DUT.U_1.count_memory_cry_c[4] 14 2 4 #SB_CARRY
set_location I_DUT.U_1.count_memory[18] 14 4 2 #SB_DFFER
set_location I_DUT.U_6.count_RNIA8TM[1] 10 13 2 #SB_LUT4
set_location I_DUT.U_1.fpga_m_ret_3_RNI1HJ3_12 1 12 7 #SB_LUT4
set_location I_DUT.U_1.done_wait_RNI61LH1[3] 7 8 5 #SB_LUT4
set_location I_DUT.U_6.is_up_RNO_0 7 11 0 #SB_LUT4
set_location I_DUT.U_5.fpga_m_ret_4_RNIU7V2 11 10 4 #SB_LUT4
set_location I_DUT.U_5.fpga_m_ret_12 9 11 4 #SB_DFFS
set_location I_DUT.U_13.sendAdd.un1_m_4 9 2 2 #SB_LUT4
set_location I_DUT.U_12.valuePreTrig_int[2] 1 14 2 #SB_DFFER
set_location I_DUT.U_1.count_preTrig_cry_c[14] 2 15 6 #SB_CARRY
set_location I_DUT.U_6.adc_clock_RNO 8 15 6 #SB_LUT4
set_location I_DUT.U_4.fpga_m_ret_RNO 20 1 4 #SB_LUT4
set_location I_DUT.U_13.count_memory_RNO[17] 17 4 3 #SB_LUT4
set_location I_DUT.U_6.finish_d_RNO 9 11 1 #SB_LUT4
set_location I_DUT.U_5.mux.un1_m_0_cry_2_c 8 8 0 #SB_CARRY
set_location I_DUT.U_13.count_memory[16] 17 3 0 #SB_DFFER
set_location I_DUT.U_13.MISO_OUT_er 11 4 1 #SB_DFFER
set_location I_DUT.U_5.mux.un3_0_cry_3_c_RNIQ173 9 7 4 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location I_DUT.U_1.done_Counter.un3_go_0_I_51_c_RNO 3 13 5 #SB_LUT4
set_location I_DUT.U_1.count_memory_RNO[17] 14 4 1 #SB_LUT4
set_location I_DUT.U_5.mux.un3_0_cry_2_c 8 9 2 #SB_CARRY
set_location I_DUT.U_5.FR_NCS_1[3] 9 8 6 #SB_LUT4
set_location I_DUT.U_1.count_preTrig[9] 2 15 1 #SB_DFFER
set_location I_DUT.U_1.count_memory[12] 14 3 4 #SB_DFFER
set_location I_DUT.U_1.Memory[17] 16 4 2 #SB_DFFER
set_location I_DUT.U_6.count_cry_c[3] 9 13 3 #SB_CARRY
set_location I_DUT.U_4.fpga_m_ret_3_RNIK5EN1 9 7 6 #SB_LUT4
set_io o_fram_ncs[0] 48
set_io i_adc_sdo[2] 9
set_io o_fram_ncs[3] 4
set_io o_cal[1] 41
set_io o_acq_done 39
set_io i_fpga_m[1] 3
set_io o_meas_1mhz 32
set_io o_fram_ncs[2] 2
set_io o_cal[2] 40
set_io o_adc_nsc 31
set_io i_acq_pretrig 36
set_io o_fram_sdi[3] 18
set_io o_fram_sclk[0] 25
set_io iRST_rst_n 35
set_io o_fram_sdi[2] 13
set_io o_fram_sclk[1] 23
set_io i_fpga_sck 46
set_io i_fpga_mosi 44
set_io i_adc_sdo[1] 10
set_io o_fram_sdi[1] 21
set_io o_fram_sclk[2] 27
set_io o_adc_sclk 28
set_io i_fpga_m[2] 38
set_io i_adc_sdo[0] 11
set_io i_acq_trig 43
set_io o_sclk_meas 34
set_io o_fram_sdi[0] 12
set_io o_fram_sclk[3] 26
set_io o_fram_ncs[1] 45
set_io io_fpga_miso 47
set_io i_fpga_m[3] 42
set_io i_adc_sdo[3] 6
set_io iGCK_clk 37
set_io i_fpga_m[0] 19
